HTTP_ADDR=0.0.0.0:3004
DATABASE_URL=postgresql://db-jayden.c1gymyg48fuo.ap-southeast-1.rds.amazonaws.com:5432/postgres?user=jayden&password=db-jayden
CART_SERVICE_BASE_URL=http://localhost:3003
KAFKA_BROKERS=localhost:9094
KAFKA_TOPIC=domain-events
TELEGRAM_CHAT_ID=-1003581600535
TELEGRAM_CHANNEL_ID=-1003581600535
CHECKOUT_SUCCESS_URL=http://localhost:5173/checkout/success
CHECKOUT_CANCEL_URL=http://localhost:5173/checkout/cancel
PAYMENT_SANDBOX_MODE=true
PAYPAL_API_BASE_URL=https://api-m.sandbox.paypal.com
PAYPAL_API_KEY=
PAYPAL_WEBHOOK_SECRET=dev-paypal-secret
STRIPE_API_BASE_URL=https://api.stripe.com
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=dev-stripe-secret
OXAPAY_API_BASE_URL=https://api.oxapay.com
OXAPAY_API_KEY=
OXAPAY_WEBHOOK_SECRET=dev-oxapay-secret
RUST_LOG=info
