HTTP_ADDR=0.0.0.0:3008
DATABASE_URL=postgresql://db-jayden.c1gymyg48fuo.ap-southeast-1.rds.amazonaws.com:5432/postgres?user=jayden&password=db-jayden
KAFKA_BROKERS=localhost:9094
KAFKA_TOPIC=domain-events
KAFKA_GROUP_ID=notification-service
TELEGRAM_BOT_TOKEN=8725040058:AAEeb4rwDpnQS8nO9D3w8C1RVaMudVIHTZI
TELEGRAM_CHANNEL_ID=-1003581600535
WORKER_POLL_INTERVAL_SECS=3
WORKER_BATCH_SIZE=50
DEFAULT_MAX_ATTEMPTS=5
RUST_LOG=info
