DATABASE_URL=postgresql://db-jayden.c1gymyg48fuo.ap-southeast-1.rds.amazonaws.com:5432/postgres?user=jayden&password=db-jayden
KAFKA_BROKERS=localhost:9094
KAFKA_TOPIC=domain-events
HTTP_ADDR=0.0.0.0:3001
JWT_SECRET=your-secret-key-here
REDIS_URL=redis://localhost:6379
RUST_LOG=info
